APP_ENV=prod
BASE_DIR=.
PYAPP_STORAGE_DIR=./files/
PYAPP_STORAGE_TEMP_DIR=./files/temp

PYAPP_NETECO_USERID=
PYAPP_NETECO_PASSWORD=

PYAPP_GDE_TOKEN=
PYAPP_GDE_USER=
PYAPP_GDE_PASSWORD=

SFTP_HOST=
SFTP_USERNAME=
SFTP_PASSWORD=

# NCE

SFTP_NCE_HOST=
SFTP_NCE_USERNAME=
SFTP_NCE_PASSWORD=

SFTP_NCE02_HOST=
SFTP_NCE02_USERNAME=
SFTP_NCE02_PASSWORD=

SFTP_NCE03_HOST=
SFTP_NCE03_USERNAME=
SFTP_NCE03_PASSWORD=

SFTP_NCE04_HOST=
SFTP_NCE04_USERNAME=
SFTP_NCE04_PASSWORD=

SFTP_NCE05_HOST=
SFTP_NCE05_USERNAME=
SFTP_NCE05_PASSWORD=

SFTP_NCE06_HOST=
SFTP_NCE06_USERNAME=
SFTP_NCE06_PASSWORD=

# XMLHUAWEI2

SFTP_HUAWEI01_HOST=
SFTP_HUAWEI01_USERNAME=
SFTP_HUAWEI01_PASSWORD=

SFTP_HUAWEI02_HOST=
SFTP_HUAWEI02_USERNAME=
SFTP_HUAWEI02_PASSWORD=

SFTP_HUAWEI03_HOST=
SFTP_HUAWEI03_USERNAME=
SFTP_HUAWEI03_PASSWORD=

SFTP_HUAWEI04_HOST=
SFTP_HUAWEI04_USERNAME=
SFTP_HUAWEI04_PASSWORD=

SFTP_HUAWEI05_HOST=
SFTP_HUAWEI05_USERNAME=
SFTP_HUAWEI05_PASSWORD=

SFTP_HUAWEI06_HOST=
SFTP_HUAWEI06_USERNAME=
SFTP_HUAWEI06_PASSWORD=

SFTP_HUAWEI07_HOST=
SFTP_HUAWEI07_USERNAME=
SFTP_HUAWEI07_PASSWORD=

SFTP_HUAWEI08_HOST=
SFTP_HUAWEI08_USERNAME=
SFTP_HUAWEI08_PASSWORD=

SFTP_HUAWEI09_HOST=
SFTP_HUAWEI09_USERNAME=
SFTP_HUAWEI09_PASSWORD=

SFTP_HUAWEI10_HOST=
SFTP_HUAWEI10_USERNAME=
SFTP_HUAWEI10_PASSWORD=

SFTP_HUAWEI11_HOST=
SFTP_HUAWEI11_USERNAME=
SFTP_HUAWEI11_PASSWORD=

SFTP_HUAWEI12_HOST=
SFTP_HUAWEI12_USERNAME=
SFTP_HUAWEI12_PASSWORD=

SFTP_HUAWEI13_HOST=
SFTP_HUAWEI13_USERNAME=
SFTP_HUAWEI13_PASSWORD=

SFTP_HUAWEI14_HOST=
SFTP_HUAWEI14_USERNAME=
SFTP_HUAWEI14_PASSWORD=

SFTP_HUAWEI15_HOST=
SFTP_HUAWEI15_USERNAME=
SFTP_HUAWEI15_PASSWORD=

SFTP_HUAWEI16_HOST=
SFTP_HUAWEI16_USERNAME=
SFTP_HUAWEI16_PASSWORD=

SFTP_HUAWEI17_HOST=
SFTP_HUAWEI17_USERNAME=
SFTP_HUAWEI17_PASSWORD=

SFTP_HUAWEI18_HOST=
SFTP_HUAWEI18_USERNAME=
SFTP_HUAWEI18_PASSWORD=

# PORTALES

SFTP_PORTAL02_HOST=
SFTP_PORTAL02_USERNAME=
SFTP_PORTAL02_PASSWORD=

# ZTE

SFTP_ZTE_HOST=
SFTP_ZTE_PORT=
SFTP_ZTE_USERNAME=
SFTP_ZTE_PASSWORD=

SFTP_ZTE02_HOST=
SFTP_ZTE02_PORT=
SFTP_ZTE02_USERNAME=
SFTP_ZTE02_PASSWORD=

SFTP_ZTE03_HOST=
SFTP_ZTE03_PORT=
SFTP_ZTE03_USERNAME=
SFTP_ZTE03_PASSWORD=
